@import "~bulma/sass/utilities/initial-variables";

// Colors

$white-quater: hsl(0, 0%, 94%);

$san-juan: hsl(215, 40%, 31%);

// Typography

$family-sans-serif: "Nunito", sans-serif;

// Spacing

// Responsiveness

// Miscellaneous

$size-base: 1rem;

// Flags
